* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; }

body main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%; }
  body main .main__ad-line {
    height: 45px;
    background: #CED3CA;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: black;
    mix-blend-mode: overlay; }
    body main .main__ad-line .ad-line__button {
      width: 113px;
      height: 28px;
      text-align: center;
      background: #1A1A1A;
      border: 1px solid #1A1A1A;
      outline: none;
      cursor: pointer;
      color: #F7F7F7;
      margin: 0 15px; }
  body main .main__nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 125px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    body main .main__nav .nav__h1 {
      font-size: 3.5em;
      text-transform: uppercase;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      height: 115px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      cursor: pointer; }
    body main .main__nav .nav__group-of-links {
      margin-left: 70px;
      width: 340px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around; }
      body main .main__nav .nav__group-of-links .group-of-links__link {
        color: #1A1A1A;
        text-decoration: none;
        font-size: 17px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; }
        body main .main__nav .nav__group-of-links .group-of-links__link::after {
          content: "";
          width: 0;
          height: 1px;
          background: #1A1A1A;
          -webkit-transition: 0.5s width;
          -o-transition: 0.5s width;
          transition: 0.5s width;
          -webkit-align-self: center;
              -ms-flex-item-align: center;
                  align-self: center; }
        body main .main__nav .nav__group-of-links .group-of-links__link:hover::after {
          width: 100%; }
    body main .main__nav .nav__group-of-my-office {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 265px;
      margin-left: auto;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      body main .main__nav .nav__group-of-my-office .group-of-my-office__link {
        color: #1A1A1A;
        text-decoration: none;
        font-size: 17px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; }
        body main .main__nav .nav__group-of-my-office .group-of-my-office__link::after {
          content: "";
          width: 0;
          height: 1px;
          background: #1A1A1A;
          -webkit-transition: 0.5s width;
          -o-transition: 0.5s width;
          transition: 0.5s width;
          -webkit-align-self: center;
              -ms-flex-item-align: center;
                  align-self: center; }
        body main .main__nav .nav__group-of-my-office .group-of-my-office__link:hover::after {
          width: 100%; }
      body main .main__nav .nav__group-of-my-office .group-of-my-office__dividing-line {
        border-right: 1px solid #1A1A1A;
        margin: 0 -55px; }
      body main .main__nav .nav__group-of-my-office .group-of-my-office__basket-button {
        background: transparent;
        cursor: pointer;
        border: none;
        outline: none; }
        body main .main__nav .nav__group-of-my-office .group-of-my-office__basket-button .basket-button__icon {
          font-size: 1.5em; }
    body main .main__nav .nav__end-of-nav-line {
      width: 1px;
      height: 117px;
      background: #1A1A1A;
      margin-left: 35px; }
  body main .main__banner {
    background: url("../img/banner.jpg") center no-repeat;
    width: 100%;
    height: 600px;
    background-size: cover;
    color: #F7F7F7; }
    body main .main__banner .banner__p {
      margin-top: 28%;
      margin-left: 10%; }
    body main .main__banner .banner__learn-more {
      margin-left: 10%;
      color: #F7F7F7;
      text-decoration: none;
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      body main .main__banner .banner__learn-more::after {
        content: "";
        width: 0;
        height: 1px;
        background: #F7F7F7;
        -webkit-transition: 0.5s width;
        -o-transition: 0.5s width;
        transition: 0.5s width;
        -webkit-align-self: center;
            -ms-flex-item-align: center;
                align-self: center; }
      body main .main__banner .banner__learn-more:hover::after {
        width: 100%; }
  body main .main__clothes-container {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
    margin-top: 15px;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center; }
    body main .main__clothes-container .clothes-container__nav {
      width: 70%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: space-evenly;
      -webkit-justify-content: space-evenly;
          -ms-flex-pack: space-evenly;
              justify-content: space-evenly;
      padding: 45px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
      body main .main__clothes-container .clothes-container__nav .nav__setings-link_default {
        text-decoration: none;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        color: #A8A8A8; }
        body main .main__clothes-container .clothes-container__nav .nav__setings-link_default::after {
          content: "";
          width: 0;
          height: 1px;
          background: #A8A8A8;
          -webkit-transition: 0.5s width;
          -o-transition: 0.5s width;
          transition: 0.5s width;
          -webkit-align-self: center;
              -ms-flex-item-align: center;
                  align-self: center; }
        body main .main__clothes-container .clothes-container__nav .nav__setings-link_default:hover::after {
          width: 100%; }
      body main .main__clothes-container .clothes-container__nav .nav__setings-link_active {
        color: #1A1A1A !important; }
        body main .main__clothes-container .clothes-container__nav .nav__setings-link_active::after {
          content: "";
          width: 100%;
          height: 1px;
          background: #1A1A1A;
          -webkit-transition: 0.5s width;
          -o-transition: 0.5s width;
          transition: 0.5s width; }
      body main .main__clothes-container .clothes-container__nav .nav__setings-link_disabled {
        color: #A8A8A8; }
    body main .main__clothes-container .clothes-container__products {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      width: 75%;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around; }
      body main .main__clothes-container .clothes-container__products .products__card-of-product {
        width: 275px;
        height: 420px;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        cursor: pointer; }
        body main .main__clothes-container .clothes-container__products .products__card-of-product .card-of-product__name-of-product {
          font-size: 15px;
          line-height: 18px;
          color: #1A1A1A;
          margin-top: 5px; }
        body main .main__clothes-container .clothes-container__products .products__card-of-product .card-of-product__prices {
          margin-top: 5px;
          font-size: 15px; }
          body main .main__clothes-container .clothes-container__products .products__card-of-product .card-of-product__prices .prices__price-without-discount {
            color: #A8A8A8;
            margin-right: 5px; }
          body main .main__clothes-container .clothes-container__products .products__card-of-product .card-of-product__prices .prices__price-with-discount {
            color: #FF3451; }
  body main .main__discont-banner {
    background: #CED3CA;
    width: 100%;
    height: 660px;
    padding: 75px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer; }
    body main .main__discont-banner .discount-banner__body-of-banner {
      background-color: #F7F7F7;
      width: 1180px;
      height: 406px;
      margin: 0 auto;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      body main .main__discont-banner .discount-banner__body-of-banner .body-of-banner__text-title {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 490px; }
        body main .main__discont-banner .discount-banner__body-of-banner .body-of-banner__text-title .text-title__p {
          font-size: 38px;
          line-height: 46px;
          margin-bottom: 50px;
          width: 208px;
          color: #1A1A1A; }
        body main .main__discont-banner .discount-banner__body-of-banner .body-of-banner__text-title .title__shop-the-sale {
          text-decoration: none;
          color: #1A1A1A;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column;
          margin-left: -90px; }
          body main .main__discont-banner .discount-banner__body-of-banner .body-of-banner__text-title .title__shop-the-sale::after {
            content: "";
            width: 0;
            height: 1px;
            background: #1A1A1A;
            -webkit-transition: 0.5s width;
            -o-transition: 0.5s width;
            transition: 0.5s width;
            -webkit-align-self: center;
                -ms-flex-item-align: center;
                    align-self: center; }
          body main .main__discont-banner .discount-banner__body-of-banner .body-of-banner__text-title .title__shop-the-sale:hover::after {
            width: 100%; }
      body main .main__discont-banner .discount-banner__body-of-banner .body-of-banner__bg-with-clothes {
        background: url("../img/clothes.jpg") center no-repeat;
        background-size: cover;
        width: 704px;
        height: 406px; }
  body main .main__our-mission {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    background: #F8F6F2; }
    body main .main__our-mission .our-mission__title {
      width: 630px;
      font-size: 30px;
      margin: 0 auto;
      margin-top: 90px;
      font-weight: 400; }
    body main .main__our-mission .our-mission__shop-blocks {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-self: center;
          -ms-flex-item-align: center;
              align-self: center;
      margin-top: 50px; }
      body main .main__our-mission .our-mission__shop-blocks .our-mission__shop-block {
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        margin: 0 80px; }
        body main .main__our-mission .our-mission__shop-blocks .our-mission__shop-block .shop-block__img {
          width: 522px;
          height: 647px;
          -webkit-user-select: none;
             -moz-user-select: none;
              -ms-user-select: none;
                  user-select: none; }
        body main .main__our-mission .our-mission__shop-blocks .our-mission__shop-block .shop-block__link {
          text-decoration: none;
          color: #1A1A1A;
          width: -webkit-max-content;
          width: -moz-max-content;
          width: max-content;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column; }
          body main .main__our-mission .our-mission__shop-blocks .our-mission__shop-block .shop-block__link::after {
            content: "";
            width: 0;
            height: 1px;
            background: #1A1A1A;
            -webkit-transition: 0.5s width;
            -o-transition: 0.5s width;
            transition: 0.5s width; }
          body main .main__our-mission .our-mission__shop-blocks .our-mission__shop-block .shop-block__link:hover::after {
            width: 110%; }
    body main .main__our-mission .our-mission__shop-objects {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-top: 50px; }
      body main .main__our-mission .our-mission__shop-objects .shop-objects__img {
        width: 1210px;
        height: 657px;
        -webkit-align-self: center;
            -ms-flex-item-align: center;
                align-self: center;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none; }
      body main .main__our-mission .our-mission__shop-objects .shop-objects__link {
        text-decoration: none;
        color: #1A1A1A;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-align-self: center;
            -ms-flex-item-align: center;
                align-self: center; }
        body main .main__our-mission .our-mission__shop-objects .shop-objects__link::after {
          content: "";
          width: 0;
          height: 1px;
          background: #1A1A1A;
          -webkit-transition: 0.5s width;
          -o-transition: 0.5s width;
          transition: 0.5s width; }
        body main .main__our-mission .our-mission__shop-objects .shop-objects__link:hover::after {
          width: 110%; }
